{% extends 'base_content.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <h1>Specialist Log In</h1>
      <p>Please log in to work on assigned tickets.</p>
      <form action="{% url 'specialist_login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Log in" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
{% endblock %}
