{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Landing Page 1</title>
  <!-- 使用 Django static -->
  <link rel="stylesheet" href="{% static 'landing_page_1/page1.css' %}">
</head>
<body>
  <div class="page1-container">
    <div class="arrows-text">
      <img class="arrow arrow-left"
           src="{% static 'landing_page_1/Vector 1.svg' %}"
           alt="Left Arrow">
      <span>Scroll Down</span>
      <img class="arrow arrow-right"
           src="{% static 'landing_page_1/Vector 2.svg' %}"
           alt="Right Arrow">
    </div>
  </div>
</body>
</html>


